In [7]:
import datetime as dt
import pandas as pd
import warnings

from pandas_datareader.base import _BaseReader

IB_BASE_URL = "https://localhost:5000/v1/api/iserver/marketdata/history"

class IBTimeSeriesReader(_BaseReader):
    """
    Returns DataFrame of the Alpha Vantage Stock Time Series endpoints

    .. versionadded:: 0.7.0

    Parameters
    ----------
    symbols : string
        Single stock symbol (ticker)
    start : string, int, date, datetime, Timestamp
        Starting date. Parses many different kind of date
        representations (e.g., 'JAN-01-2010', '1/1/10', 'Jan, 1, 1980'). Defaults to
        20 years before current date.
    end : string, int, date, datetime, Timestamp
        Ending date
    retry_count : int, default 3
        Number of times to retry query request.
    pause : int, default 0.1
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
        requests.sessions.Session instance to be used
    api_key : str, optional
        AlphaVantage API key . If not provided the environmental variable
        ALPHAVANTAGE_API_KEY is read. The API key is *required*.
    """
    _format = 'json'

    def __init__(
        self,
        symbols, #inherit base
        exchange = None,
        period = '1y',
        bar = None,
        outsideRth = True,
        retry_count=3,  #inherit base
        pause=0.1,  #inherit base
        session=None,  #inherit base
    ):
        
        super(IBTimeSeriesReader, self).__init__(
            symbols=symbols,
            retry_count=retry_count,
            pause=pause,
            session=session,
        )

        self._exchange = exchange
        self._period = period
        self._bar = bar
        self._outsideRth = outsideRth

    @property
    def url(self):
        """ API URL """
        return IB_BASE_URL

    @property
    def params(self):
        return {
            "conid": self.symbols,
            "exchange": self.exchange,
            "period": self.period,
            "bar": self.bar,
            "outsideRth": self.outsideRth
            }

    @property
    def exchange(self):
        return self._exchange

    @property
    def period(self):
        return self._period

    @property
    def bar(self):
        return self._bar

    @property
    def outsideRth(self):
        # if self._outsideRth = 
        return self._outsideRth

    def _read_lines(self, out):
        df = pd.DataFrame.from_dict(out['data'])
        df.columns = ['open', 'close', 'high', 'low', 'volume', 'time']
        df['time'] = pd.to_datetime(df['time'], unit = 'ms')
        df.set_index('time', inplace = True)
        if len(df) == 1000:
            warnings.warn(
                "DataFrame returned is exactly 1000 lines long,"
                " the data returned is probably truncated."
            )

        return df

session.verify = False #SSL verification will be turned OFF, requests will give you an InsecureRequestWarning
a =IBTimeSeriesReader(symbols='396336017', period = '15y', bar = '1h', session = session)
a.read()
# a.read()['close'].plot()

                        open    close     high      low  volume
time
2020-12-21 13:00:00  3644.00  3648.50  3651.00  3630.00   55510
2020-12-21 14:00:00  3648.75  3654.25  3670.75  3645.25  230182
2020-12-21 15:00:00  3654.25  3638.75  3655.75  3625.00  322105
2020-12-21 16:00:00  3638.75  3658.75  3662.25  3637.50  150240
2020-12-21 17:00:00  3658.75  3678.50  3680.75  3658.50  112417
...                      ...      ...      ...      ...     ...
2021-02-19 14:00:00  3929.00  3923.50  3929.25  3913.75  191458
2021-02-19 15:00:00  3923.25  3923.25  3925.00  3916.00  158410
2021-02-19 16:00:00  3923.25  3921.00  3927.25  3920.25   93641
2021-02-19 17:00:00  3921.00  3909.00  3921.50  3904.00  170434
2021-02-19 18:00:00  3909.25  3904.75  3910.50  3901.75   49366

[1000 rows x 5 columns]

In [1]:
import requests

session = requests.Session()
session.verify = False #SSL verification will be turned OFF, requests will give you an InsecureRequestWarning
a =IBTimeSeriesReader(symbols='78999225', session = session, outsideRth=False).read()
a

NameError: name 'IBTimeSeriesReader' is not defined

In [2]:
   import requests
   import pandas_datareader as pdr

   session = requests.Session()
   session.verify = False #required due to self-signed SSL cert
   
   df = pdr.ib.time_series.IBTimeSeriesReader(symbols='396336017', period = '15y', bar = '1h', session = session).read()
   len(df)

1000

In [5]:
import pandas_datareader as pdr

session = requests.Session()
session.verify = False #required due to self-signed SSL cert

pdr.get_data_ib(symbols='396336017', period = '1w', bar = '1h', session = session)

                        open    close     high      low  volume
time
2021-02-14 23:00:00  3936.50  3936.50  3940.00  3934.75    9698
2021-02-15 00:00:00  3936.50  3943.75  3946.50  3935.75   11645
2021-02-15 01:00:00  3943.50  3944.00  3945.75  3941.75    4709
2021-02-15 02:00:00  3944.00  3944.75  3947.00  3944.00    3789
2021-02-15 03:00:00  3944.75  3947.00  3948.00  3943.75    3525
...                      ...      ...      ...      ...     ...
2021-02-19 13:00:00  3925.25  3929.00  3931.00  3924.75   30556
2021-02-19 14:00:00  3929.00  3923.50  3929.25  3913.75  191458
2021-02-19 15:00:00  3923.25  3923.25  3925.00  3916.00  158410
2021-02-19 16:00:00  3923.25  3921.00  3927.25  3920.25   93641
2021-02-19 17:00:00  3921.00  3913.25  3921.50  3911.00   76771

[110 rows x 5 columns]

In [3]:
pdr.__file__

'/home/jwfu/anaconda3/lib/python3.8/site-packages/pandas_datareader/__init__.py'